body {
    font-size: 20px;
}
.details-form {
    width: 70%;
    margin:0 auto;
    background-color: #eee;
    height: 400px;
}

.details-form>div {
    margin-bottom: 20px;
}

.details-form>div>label>span {
    min-width: 140px;
    display: inline-block;
}