body {
  max-width: 1500px;
  margin:0 auto;
}

main {
  background-image: url(/img/2.jpg);
  min-height: 800px;
}
header {
  overflow: hidden;
  background-color: #65aaf0;
  padding: 20px 0;
}

header ul {
  margin-top: 0;
  list-style: none;
}

header ul li {
  float: left;
  width: 20%;
  text-align: center;
}

header ul li:hover {
  background-color: #fff;
}

header ul li:hover a {
  color: #000;
}

header ul li a {
  color: #fff;
}

.leave-details {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 450px;
  right: 450px; 
}

.half {
  width: 50%;
  float: left;
}

.half-right {
  width: 50%;
  float: right;
}